* {
  margin-top : 0px ; 
}
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
input{
  text-indent: 10px;
}
.box {
  display: flex;
  align-items: left;
  justify-content: flex-end;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
.holder{
  display: flex;
  flex-direction: row;
}
.item{
  width : 100%;
}